#primary-jumbotron {
	background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url(../img/orhvfr-min.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#secondary-jumbotron {
	background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url(../img/steamcity-min.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#books-index-jumbotron {
	background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url(../img/battle_of_kuska_by_edictiv-d47yq6v-min.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#books-show-jumbotron {
	background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url(../img/173878-min.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#users-cart-jumbotron {
	background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url(../img/Webp.net-resizeimage-min.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#pages-about-jumbotron {
	background-image: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), url(../img/Hendrik_Cornelisz._Vroom_-_Battle_of_Gibraltar_-_WGA25406-min.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#pages-contact-jumbotron {
	background-image: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), url(../img/amonkhet_by_88grzes-db4zkjr-min.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#orders-index-jumbotron {
	background-image: linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ), url(../img/AR2-min.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#orders-show-jumbotron {
	background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url(../img/tumblr_nwqidyDT591s78jblo7_1280-min.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.jumbotron-text-shadow {
	font-size: 2.5rem;
    text-shadow: 1px 1px 1px #000000;
}

.primary-jumbotron-text-shadow {
    text-shadow: 1.5px 1.5px 3px #000000;
}